﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <h2>Hora</h2>
    <div class="col-md-12">
        <p>
            Hora Actual: @DateTime.Now.ToString("T")
        </p>
    </div>
</div>

