﻿@model Tienda.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this comment?</h2>

@*<h3>Movie Title: "@Html.DisplayFor(model => model.pelicula.Name)"</h3>*@        

<div class="photo-comment">

    <div class="photo-comment-from">
        From:
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="photo-comment-subject">
        @Html.DisplayNameFor(model => model.Subject):
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="photo-comment-body">
        @Html.DisplayFor(model => model.Body)
    </div>

</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        @Html.ActionLink("Back to Movie", "details", "pelicula", new { id = ViewBag.id }, null)
    </p>
}

