﻿@model Tienda.Models.Comment

@Html.ValidationSummary(true)

<div class="add-comment-tool">
    
    <div class="form-horizontal">
    
        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

               @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>

       
         <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

               @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>

    <p>
        <input type="submit" value="Create" class="btn btn-primary" />
    </p>
  </div>
</div>
