﻿@model Tienda.Models.PeliculaModel

<div class="ratting-item" data-pid="@Model.id">
    <input class="rating" name="vote" type="radio" value="1" />
    <input class="rating" name="vote" type="radio" value="2" />
    <input class="rating" name="vote" type="radio" value="3" />
    <input class="rating" name="vote" type="radio" value="4" />
    <input class="rating" name="vote" type="radio" value="5" />
</div>

<span class="result"></span>