﻿@using PagedList.Mvc
@model PagedList.IPagedList<Tienda.Models.PeliculaModel>

<div id="peliculas">

    pager ajax
    <div class="pagedList" data-otf-target="#peliculas">
        @Html.PagedListPager(list: Model,
    generatePageUrl: page => Url.Action("ListaImagenes", new { pagina = page }),
                                             options: PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                                             {
                                                 HttpMethod = "GET",
                                                 UpdateTargetId = "peliculas"
                                             }))
    </div>

    <ul id="album-list">
        @foreach (var pel in Model)
        {
            <li>
                <a href="@Url.Action("Details", new { id = pel.id })">
                    <img alt="@pel.Titulo" title="@pel.Titulo" src="@Url.Content("~" + pel.ruta)"
                         width="100px" height="100px" />
                </a>
                <span>@pel.Titulo</span>
            </li>

        }
    </ul>

</div>
