﻿@model Tienda.Models.PeliculaModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Styles.Render("~/Content/toastr")

<div>
    <h4>PeliculaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ruta)*@
            <img title="@Model.Titulo" alt="@Model.Titulo" src="@Url.Content("~" + Model.ruta)" width="100px" height="100px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Rate
        </dt>

        <dd>
            <span id="spanRate">
                @Html.DisplayFor(model => model.Rate)
            </span>
            @Html.Partial("_Rating", Model)

            <img src="~/Content/imagenes/loader.gif" style="display:none" id="imgLoader" />

            @Html.HiddenFor(m => m.Rate, new { id = "Rate" })
        </dd>

        <dd>
            <div id="addtofavorites">
                @Ajax.ActionLink("Add this Movie to your favorites",
        "AddFavorite",
        "Pelicula",
        new { id = Model.id },
        new AjaxOptions
        {
            UpdateTargetId = "addtofavorites",
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace
        })
            </div>
        </dd>

        @Html.Action("_CommentsForMovie", "Comment", new { id = Model.id })

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script src="@Url.Content("~/Scripts/rating.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")

    <script>
        $(document).ready(function () {
            var pid = $("#Rate").val();
            $("input[type=radio][value='" + pid + "']").attr('checked', 'checked');

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "100",
                "hideDuration": "200",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

        });

        $(function () {
            $('.ratting-item').rating(function (vote, event) {
                var anchor = $(event.currentTarget);
                var pid = anchor.closest(".ratting-item").data("pid");
                var url = '@Url.Action("RateProduct", "Pelicula")';
                $("#Rate").val(vote);
                $("#spanRate").text(vote);

                $('.ratting-item[data-pid=' + pid + ']')
                    .next()
                    .text("Actualizando Calificacion...");

                //$("#imgLoader").show();

                var request = $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, id: pid }
                });

                request.success(function (msg) {
                    console.log("sucess: " + msg);
                    if (msg.success) {
                        //$('.result').text("Listo");

                        toastr.options = {
                            "positionClass": "toast-top-center",
                        }

                        toastr.success('Calificación actualizada!');
                    }
                });

                request.error(function (msg) {
                    console.log("error:" + msg);
                    //$('.result').text(msg);
                    toastr.error('Ocurrió un error en la actualización');
                });

                request.complete(function () {
                    //console.log("complete");
                    //$('.ratting-item[data-pid=' + pid + ']')
                    //.next()
                    //.text("");
                    //$("#imgLoader").show();
                    $('.result').text("");
                    //toastr.info('Calificación actualizada!');
                });

            });

        });
    </script>
}



