﻿@using PagedList.Mvc
@model PagedList.IPagedList<Tienda.Models.PeliculaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="pager" data-otf-target="#peliculas">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }), PagedListRenderOptions.MinimalWithItemCountText)
</div>
<div id="peliculas">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ruta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ruta)*@
                    <img title ="@item.Titulo" alt="@item.Titulo" src="@Url.Content("~" + item.ruta)" width="100px" height="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>
<div class="pager" data-otf-target="#peliculas">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }), PagedListRenderOptions.MinimalWithItemCountText)
</div>