﻿@using PagedList.Mvc
@model PagedList.IPagedList<Tienda.Models.PeliculaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    @Html.Partial("_ResultadosImagenes", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}