﻿@using PagedList.Mvc
@model PagedList.IPagedList<Tienda.Models.PeliculaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    @Html.Partial("_ResultadosPopOverImagenes", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/rating.js")"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            //function crearTemplate(calificacion, desc, titulo) {
            //    var _template2 = "<div>" + titulo + " " +
            //        desc + " " +
            //        calificacion + "</div>";
            //    return _template2;
            //}

            function crearTemplate(calificacion, desc, titulo) {

                var _template2 = "<div>" + desc + "</div>";
                _template2 += '<hr/><div class="stars">';

                var calificados = 0;
                for (var i = 0; i < calificacion; i++) {
                    _template2 += '<a class="star fullStar" title="' + i + 1 + '"></a>';
                    calificados = i;
                }
                var total = 4;
                if (calificados == 0)
                    total = 5;
                for (var i = calificados; i < total; i++) {
                    _template2 += '<a class="star" title="' + i + 1 + '"></a>';
                }
                _template2 += '&nbsp;&nbsp;<b>Rate:</b>' + calificacion + '</div>';
                if (desc === undefined || desc == null)
                    desc = " ";


                return _template2;
            }

            $('*[data-toggle=popover]').hover(function () {
                var e = $(this);
                var img = e[0];
                var calif = img.attributes["data-rate"].value;
                var rate = e.data("rate");
                var desc = img.getAttribute("data-desc");
                var title = e.data("titulo");
                var rate = rate || "0";
                var desc = desc || "";
                var title = title || "";

                e.popover(
                        {
                            html: true,
                            trigger: 'hover focus',
                            content: crearTemplate(rate, desc, title)
                        }
                    ).popover('show');

            });

            $('*[data-toggle=popover]').click(function () {
                var e = $(this);
                var img = e[0];
                var id = img.getAttribute("data-id");

                window.location.href = "adetails/" + id;
            });

        });
    </script>



}